@use '../util/' as u;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

h1 {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(32), u.rem(48));
    letter-spacing: 0.05em;
}

h2 {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(32), u.rem(40));
    letter-spacing: 0.02em;
}

p {
    line-height: 1.5;
    margin: 0;
}

span {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(56));
    letter-spacing: 0.05em;
}