@use '../util/' as u;

.section__title {
    text-align: center;
}
.contact__list {
    display: grid;
    justify-content: center;
}
.contact__item {
    padding-bottom: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--c-accent);
    margin-right: 15px;
}

.contact__social {
    text-align: center;
}
.contact h3 {
    text-align: center;
    margin-block: 30px;
}

.contact a svg {
    fill: var(--c-accent);
}