@use '../util/' as u;

.header {
    margin-top: -10px;
    margin-bottom: -30px;
}

.logo__img {
    width: 80px;
    height: auto;
}

.header__title {
    font-family: var(--main-font);
    font-weight: 600;
    text-align: center;
    text-transform: none;
    margin-top: 20px;
    line-height: 1.2;
}

span {
    display: block;
    font-size: u.rem(36);
    font-weight: 900;
    color: var(--c-accent);
}

@media (min-width: 700px) and (max-width: 1199px) {
    .logo__img {
        width: 120px;
        height: auto;
        margin-left: 70px;
    }
}